.change-password {
  display: flex;
  flex-direction: column;
  max-width: 300px;
}

.change-password-input {
  margin-bottom: 0.5rem;
  max-width: 200px;
}

.change-password-button {
  max-width: 208px;
}
