.login-form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-field-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.login-error-message {
  font-size: smaller;
  color: red;
}
