.tooltip {
  position: relative;
}

.tooltip-text {
  visibility: hidden;

  position: absolute;
  z-index: 1;
  left: 50%;
  top: 100%;
  margin-top: 0.5em;
  margin-left: -50px;

  width: 100px;
  padding: 0.25em 0.5em;
  background-color: #56575e;
  color: white;
  font-size: smaller;
}

.tooltip:hover .tooltip-text {
  visibility: visible;
}
