.matches-table {
  border-spacing: 0;
  border-collapse: collapse;
}

.matches-table th {
  border: 1px solid #a2a9b1;
}

.matches-table td {
  border: 1px solid #a2a9b1;
  padding: 0.2rem 0.4rem;
}

.matches-table thead tr {
  background-color: #eaecf0;
}

.matches-table tbody tr {
  background-color: #f8f9fa;
}

.matches-table-cell-text {
  width: 128px;
}

.matches-table-cell-number {
  text-align: right;
  width: 64px;
}

.matches-table-cell-number input {
  width: 32px;
  text-align-last: end;
}
