.sortable-table {
  border-spacing: 0;
  border-collapse: collapse;
}

.sortable-table th {
  border: 1px solid #a2a9b1;
}

.sortable-table td {
  border: 1px solid #a2a9b1;
  padding: 0.2rem 0.4rem;
}

.sortable-table thead tr {
  cursor: pointer;
  background-color: #eaecf0;
}

.sortable-table tbody tr {
  background-color: #f8f9fa;
}

.sortable-table tbody tr.sortable-table-clickable:hover {
  cursor: pointer;
  background-color: #fffcd5;
}

.sortable-table-cell-text {
  width: 128px;
}

.sortable-table-cell-number {
  text-align: right;
  width: 64px;
}
