.create-league-modal {
  width: 260px;
  display: flex;
  flex-direction: column;
}

.create-league-modal-players {
  display: flex;
}

.create-league-modal-players > * {
  flex-grow: 1;
}

.create-league-modal-players > *:first-child {
  margin-right: 0.5em;
}

.create-league-modal-players > *:last-child {
  margin-left: 0.5em;
}

.create-league-modal-players, .create-league-modal-input {
  margin-bottom: 0.5em;
}

.create-league-modal-buttons {
  display: flex;
  justify-content: flex-end;
  margin-top: 0.2em;
}

.create-league-modal-buttons button:first-child {
  margin-right: 1em;
}
